.Config{
    background-color: #EEEEEE;
    padding-top: 100px;
    padding-bottom: 100px;
    
    &-cardTable{
        padding: 32px;
        background-color: white;
        border-radius: 8px;

        font-family: $text;
    }

    &-titleTable{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &-descriptionTable{
        font-size: 12px;
        margin-bottom: 39px;        

        &.lessWidth{
            margin-bottom: 0;
            width: 100%;
            max-width: 651px;  
        }
    }

    &-addRegister{
        border: none;
        padding: 11px 24px;
        background-color: #F2CD7A;
        border-radius: 30px;
        margin-left: auto;
        display: block;
        margin-bottom: 18px;
        color: $white;
    }

    &-table{
        width: 100%;
        font-size: 12px;
        border-collapse: collapse;

        margin-bottom: 40px;
    }

    &-tableHead{
        background-color: #E5E5E5;
    }

    &-tableColumn{
        padding: 15px 20px;
        font-weight: 500;

        &.options{
            display: flex;
            justify-content: flex-end;
        }
        &.paddingNone{
            padding: 0;
        }
    }

    &-tableRow{
        border-bottom: 2px solid #F7F7F7;

        &.borderNone{
            border: none;
        }

        &.borderTop{
            border-top: 2px solid #F7F7F7;
        }

    }

    &-tableOption.margin{
        margin: 0 3px;
    }

    &-tableStatus{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 93px;
        height: 27px;
        border-radius: 30px;

        &.validate{
            border: 1px solid #68CFCC;
        }
        
        &.revision{
            border: 1px solid #F2CE7A;
        }
    }

    &-tableFoot{
        background-color: #535353;
        color: $white;
    }

    &-wrapButton{
        display: flex;
        justify-content: flex-end;
        border-top: 2px solid #F7F7F7;
        padding-top: 15px;
    }

    &-save{
        padding: 11px 24px;
        background-color: #FF6866;
        border-radius: 30px;
        color: $white;
        border: none;   
        font-weight: 600;
    }
}