.Config {
  background-color: #EEEEEE;
  padding-top: 100px;
  padding-bottom: 100px; }
  .Config-cardTable {
    padding: 32px;
    background-color: white;
    border-radius: 8px; }
  .Config-titleTable {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px; }
  .Config-descriptionTable {
    font-size: 12px;
    margin-bottom: 39px; }
  .Config-addRegister {
    border: none;
    padding: 11px 24px;
    background-color: #F2CD7A;
    border-radius: 30px;
    margin-left: auto;
    display: block; }
  .Config-table {
    width: 100%;
    border-collapse: collapse; }
  .Config-tableHead {
    background-color: #E5E5E5; }
  .Config-tableColumn {
    padding: 15px 20px; }
  .Config-tableRow {
    border-bottom: 2px solid #F7F7F7; }
    .Config-tableRow.borderNone {
      border: none; }
